<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
  <el-row>
      <el-col :span="10">
        <div class="grid-content bg-purple">
          <el-input v-model="picDir" placeholder="请输入内容"></el-input>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="grid-content bg-purple-light">
          <el-button type="primary" icon="el-icon-search" v-on:click="search">搜索</el-button>
        </div>
      </el-col>
  </el-row>
  <!--<el-row>-->
    <!--<el-col :span="4" v-for="(item, index) in imgs" :key="item" :offset="index > 0 ? 2 : 0" style="margin-left:1%">-->
      <!--<el-card :body-style="{ padding: '0px' }" >-->
        <!--<img :src="item" height="200" width="300">-->
        <!--<div style="padding: 14px;">-->
          <!--<span>{{item}}</span>-->
          <!--<div class="bottom clearfix">-->
            <!--<el-button type="text" class="button" v-on:click="doDelete(item)">删除</el-button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</el-card>-->
    <!--</el-col>-->
  <!--</el-row>-->
  <div>
    <el-table
      :data="imgs"
      :span-method="objectSpanMethod"
      :show-header=false
      style="width: 100%; margin-top: 20px">
      <el-table-column
        prop="path"
        width="180">
        <template slot-scope="scope">
          <img  :src="scope.row.path" alt="" style="width: 150px;height: 150px">
        </template>
      </el-table-column>
      <el-table-column
        prop="">
      </el-table-column>
    </el-table>
  </div>

  <style>
    .time {
      font-size: 13px;
      color: #999;
    }

    .bottom {
      margin-top: 13px;
      line-height: 12px;
    }

    .button {
      padding: 0;
      float: right;
    }

    .image {
      width: 100%;
      display: block;
    }

    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }

    .clearfix:after {
      clear: both
    }
  </style>

</div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- ajax -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  //服务端访问的ip
  const IP ='http://127.0.0.1:7001'


  var app=new Vue({
    el: '#app',
    data: {
      imgs:[],
      visible2: false,
      picDir:'/Users/joezou/pic/',
    },
    created:function() {
    },
    methods:{
      doDelete: function (item) {
        console.log("item:"+item)
      },
      search: function (event) {
        console.log("picDir:"+this.picDir)
        var _self=this
        axios.get(IP, {
            params: {
              picDir: _self.picDir
            }
          })
          .then(function (response) {
            for (var path of response.data.data){
              _self.imgs.push(path)
            }
          })
          .catch(function (error) {
            console.log("err:");
            console.log(error);
          });
      },

      objectSpanMethod({ row, column, rowIndex, columnIndex }) {
        if (columnIndex === 1) {
          return {
            rowspan: row.size,
            colspan: 1
          };
        }
      }
    }
  })
</script>
</html>
